API_ID="21283110"
API_HASH="a68474080d9f7a7f06f5177c86a717c7"
BOT_TOKEN="5524784588:AAGyT-mzG99u3MLmlUejktQXGWy-waO5VVw"
SESSION_STRING="AQBUE7B0b6u9njYGK5qnmzuRv0D3R9t1ARgSkPbB-acGrTL-0zHCLsKTutmKdAH9DqU-gKBvCqzXD9dBHagZvRskVclpOJgt65yw36yaYit3AW1GW9E1JyBlKu1tOz66Z0hXHv5EDRkNbYh_3MWNf_Mzhb58VvxwD9Y-6ytBpb_1zYg9cKXBJXczpV-mdnFtD8J_stTrv9Smlc_VFlWflGNBdSIccwaFB0b6QlLa55vobMBbgXGIn86lWafQK5a0GtiPLYliOuOTZDgzFYKe1Pr8V1tu_4qYDfcDadkSN0YBeeoVDdMK5Tf55CqlFdjbMnKVmc4wDkm6aIgABb6dAt9KAAAAAUD_8SgA"
CHAT=-10012345678
ADMINS="9645011256"
